{% extends "layout.html" %}
{% set active_page = "home" %}
{% block title %}Home{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>  
                <form action='/response'>
                    Enter Feet:<br>
                    <input type="text" name="feet">
                    <br><br>
                    <input type="submit" class="btn">
                </form>
            </td>
            <td>  
                <form action='/response1'>
                    Enter Weight(lbs):<br>
                    <input type="text" name="weight">
                    <br><br>
                    <input type="submit" class="btn">
                </form>
            </td>
            <td>  
                <form action='/response2'>
                    Enter Speed(MPH):<br>
                    <input type="text" name="speed">
                    <br><br>
                    <input type="submit" class="btn">
                </form>
            </td>
        </tr>
    </table>
{% endblock %}
